In [ ]:
import pandas as pd

In [ ]:
import numpy as np

# importation des fichiers CSV

In [ ]:
population = pd.read_csv ('population_original.csv')
aide_alimentaire = pd.read_csv('aide_alimentaire.csv')
sous_nutrition = pd.read_csv ('sous_nutrition.csv')
dispo_alimentaire = pd.read_csv('dispo_alimentaire.csv')
population2017= pd.read_csv('population_2017.csv')

In [ ]:
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [ ]:
population.describe(include='all')

               Zone        Année        Valeur
count          1416  1416.000000  1.416000e+03
unique          236          NaN           NaN
top     Afghanistan          NaN           NaN
freq              6          NaN           NaN
mean            NaN  2015.500000  3.144793e+04
std             NaN     1.708428  1.300812e+05
min             NaN  2013.000000  7.930000e-01
25%             NaN  2014.000000  3.783410e+02
50%             NaN  2015.500000  5.126480e+03
75%             NaN  2017.000000  1.930666e+04
max             NaN  2018.000000  1.427648e+06

In [ ]:
population_annee = population.pivot_table(index = ['Zone'],
                columns = 'Année', values = 'Valeur', aggfunc = sum).reset_index()
population_annee.head()

Année,Zone,2013,2014,2015,2016,2017,2018
0,Afghanistan,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921
1,Afrique du Sud,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518
2,Albanie,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740
3,Algérie,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408
4,Allemagne,81174.367,81450.378,81787.411,82193.768,82658.409,83124.418

In [ ]:
population2017.drop(population2017[population2017.Zone.str.startswith("Chine,")==True].index, inplace=True)
population2017.drop(population2017[population2017.Zone.str.startswith("Chine -")==True].index, inplace=True)

**La population mondiale est de 7 490 611 220 habitants**

In [ ]:
population_mondiale = (population2017['Valeur']*1000).sum()
population_mondiale

7490611220.0

# **Quelle est la proportion de personnes en état de sous-nutrition ?**

In [ ]:
sous_nutrition.drop(sous_nutrition[sous_nutrition.Zone.str.startswith("Chine,")==True].index, inplace=True)
sous_nutrition.drop(sous_nutrition[sous_nutrition.Zone.str.startswith("Chine -")==True].index, inplace=True)
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [ ]:
sousalimentation_annee = sous_nutrition.pivot_table(index = ['Zone'],
                        columns = 'Année', values = 'Valeur', aggfunc = sum).reset_index()
sousalimentation_annee.head(10)

Année,Zone,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018,2017-2019
0,Afghanistan,8.6,8.8,8.9,9.7,10.5,11.1
1,Afrique du Sud,2.2,2.5,2.8,3,3.1,3.3
2,Albanie,0.1,0.1,0.1,0.1,0.1,0.1
3,Algérie,1.3,1.3,1.3,1.3,1.3,1.2
4,Allemagne,0,0,0,0,0,0
5,Andorre,0,0,0,0,0,0
6,Angola,7.6,6.2,5.3,5.6,5.8,5.7
7,Antigua-et-Barbuda,0,0,0,0,0,0
8,Arabie saoudite,1.5,1.5,1.5,1.5,1.6,1.6
9,Argentine,1.2,0,1.1,1.3,1.5,1.7

In [ ]:
sousalimentation_annee['2016-2018'].unique()

array(['10.5', '3.1', '0.1', '1.3', 0, '5.8', '1.6', '1.5', '<0.1',
       '21.5', '1.7', '0.5', '0.2', '3.6', '0.8', '2.4', '0.6', '2.7',
       '1.4', '4.9', '0.3', '2', '5.3', '190.1', '23.6', '3.9', '9',
       '11.9', '0.4', '1.8', '1', '3.3', '8.4', '9.4', '7.3', '1.1',
       '22.8', '0.9', '24.8', '15.7', '2.2', '4.2', '12', '13.4', '5',
       '5.7', '6.2', '8', '6.5', '4.6', '21.1'], dtype=object)

In [ ]:
sousalimentation_annee.loc[sousalimentation_annee['2016-2018'] == '<0.1'] = 0

In [ ]:
sousalimentation_annee['2016-2018'] = sousalimentation_annee['2016-2018'].apply(pd.to_numeric)

In [ ]:
population_sousnutrie = sousalimentation_annee['2016-2018'].sum()
print(int(population_sousnutrie*1000000),'de personnes sous-nutries pour 2017')

534799999 de personnes sous-nutries pour 2017

In [ ]:
ratio_sousnutries = ((population_sousnutrie * 1000000) / population_mondiale)*100
ratio_sousnutries
print('La proportion de la population mondiale considérée comme étant en sous-nutrition pour l\'année 2017 est de',round(ratio_sousnutries,3),'%.')

La proportion de la population mondiale considérée comme étant en sous-nutrition pour l'année 2017 est de 7.14 %.

In [ ]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
bilan_alimentaire = pd.merge(dispo_alimentaire, population, on = 'Zone')
bilan_alimentaire.columns

Index(['Zone', 'Produit', 'Origine', 'Aliments pour animaux',
       'Autres Utilisations', 'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité intérieure', 'Exportations - Quantité',
       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
       'Semences', 'Traitement', 'Variation de stock', 'Année', 'Valeur'],
      dtype='object')

In [ ]:
bilan_alimentaire

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Année,Valeur
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2013,32269.589
1,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2014,33370.794
2,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2015,34413.603
3,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2016,35383.032
4,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN,2017,36296.113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92491,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,2014,587.079
92492,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,2015,603.118
92493,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,2016,619.438
92494,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,2017,636.039
92495,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,4.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,2018,652.857

In [ ]:
bilan_alimentaire['Disponibilité alimentaire (Kcal/an)'] = bilan_alimentaire['Disponibilité alimentaire (Kcal/personne/jour)'] \
* 365 * bilan_alimentaire['Valeur'] 
bilan_alimentaire['Disponibilité intérieur (KG)'] = bilan_alimentaire['Disponibilité intérieure']*1000000

In [ ]:
bilan_alimentaire['Disponibilité de protéines en quantité (Kg/an)']= bilan_alimentaire['Disponibilité de protéines en quantité (g/personne/jour)']\
* 365 * .001 * bilan_alimentaire['Valeur']

bilan_alimentaire['Disponibilité alimentaire en quantité (Kg/an)'] = bilan_alimentaire['Disponibilité alimentaire en quantité (kg/personne/an)'] \
* bilan_alimentaire['Valeur']

In [ ]:
bilan_alimentaire['Ratio énergie/poids (Kcal/Kg)'] = bilan_alimentaire['Disponibilité alimentaire (Kcal/an)'] \
/ bilan_alimentaire['Disponibilité alimentaire en quantité (Kg/an)']
bilan_alimentaire = bilan_alimentaire.replace([np.inf, -np.inf], np.nan).dropna(subset=["Ratio énergie/poids (Kcal/Kg)"], how="all")

#**Question : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ?**

In [ ]:
filt_bilan_alimentaire =bilan_alimentaire.query ('Année ==2017')
filt_bilan_alimentaire.head(20)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Semences,Traitement,Variation de stock,Année,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg)
4,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,...,NaN,NaN,NaN,2017,36296.113,6.624041e+07,5.300000e+07,10201.022559,6.242931e+04,1061.046512
10,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,...,NaN,NaN,NaN,2017,36296.113,1.324808e+07,4.100000e+07,264.961625,4.682199e+04,282.945736
16,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,...,NaN,NaN,NaN,2017,36296.113,1.324808e+07,2.000000e+06,397.442437,2.177767e+03,6083.333333
28,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,...,NaN,NaN,NaN,2017,36296.113,5.299232e+07,8.200000e+07,662.404062,9.799951e+04,540.740741
34,Afghanistan,"Beurre, Ghee",animale,NaN,NaN,23.0,1.17,2.61,0.03,36.0,...,NaN,NaN,NaN,2017,36296.113,3.047059e+08,3.600000e+07,397.442437,4.246645e+04,7175.213675
40,Afghanistan,Bière,vegetale,NaN,NaN,0.0,0.09,NaN,0.00,3.0,...,NaN,NaN,NaN,2017,36296.113,0.000000e+00,3.000000e+06,0.000000,3.266650e+03,0.000000
46,Afghanistan,Blé,vegetale,NaN,NaN,1369.0,160.23,4.69,36.91,5992.0,...,322.0,NaN,-350.0,2017,36296.113,1.813662e+10,5.992000e+09,488986.678753,5.815726e+06,3118.548337
70,Afghanistan,Crème,animale,NaN,NaN,3.0,0.60,0.32,0.04,18.0,...,NaN,NaN,NaN,2017,36296.113,3.974424e+07,1.800000e+07,529.923250,2.177767e+04,1825.000000
82,Afghanistan,Dattes,vegetale,NaN,NaN,0.0,0.02,0.00,0.00,1.0,...,NaN,NaN,NaN,2017,36296.113,0.000000e+00,1.000000e+06,0.000000,7.259223e+02,0.000000
88,Afghanistan,Edulcorants Autres,vegetale,NaN,NaN,2.0,0.53,NaN,NaN,16.0,...,NaN,NaN,NaN,2017,36296.113,2.649616e+07,1.600000e+07,NaN,1.923694e+04,1377.358491
94,Afghanistan,Feve de Cacao,vegetale,NaN,NaN,0.0,0.02,0.04,0.01,1.0,...,NaN,NaN,NaN,2017,36296.113,0.000000e+00,1.000000e+06,132.480812,7.259223e+02,0.000000
100,Afghanistan,"Fruits, Autres",vegetale,NaN,NaN,9.0,7.29,0.06,0.14,240.0,...,NaN,NaN,1.0,2017,36296.113,1.192327e+08,2.400000e+08,1854.731374,2.645987e+05,450.617284
118,Afghanistan,Graisses Animales Crue,animale,NaN,NaN,12.0,0.49,1.31,0.01,15.0,...,NaN,NaN,NaN,2017,36296.113,1.589770e+08,1.500000e+07,132.480812,1.778510e+04,8938.775510
124,Afghanistan,Huil Plantes Oleif Autr,vegetale,NaN,359.0,2.0,0.08,0.21,0.00,361.0,...,NaN,NaN,NaN,2017,36296.113,2.649616e+07,3.610000e+08,0.000000,2.903689e+03,9125.000000
130,Afghanistan,Huile Graines de Coton,vegetale,NaN,1.0,3.0,0.12,0.34,NaN,5.0,...,NaN,NaN,NaN,2017,36296.113,3.974424e+07,5.000000e+06,NaN,4.355534e+03,9125.000000
142,Afghanistan,Huile d'Olive,vegetale,NaN,NaN,0.0,0.02,0.05,NaN,1.0,...,NaN,NaN,NaN,2017,36296.113,0.000000e+00,1.000000e+06,NaN,7.259223e+02,0.000000
148,Afghanistan,Huile de Colza&Moutarde,vegetale,NaN,NaN,2.0,0.07,0.18,NaN,2.0,...,NaN,NaN,NaN,2017,36296.113,2.649616e+07,2.000000e+06,NaN,2.540728e+03,10428.571429
154,Afghanistan,Huile de Palme,vegetale,NaN,55.0,51.0,2.09,5.74,NaN,119.0,...,NaN,NaN,NaN,2017,36296.113,6.756521e+08,1.190000e+08,NaN,7.585888e+04,8906.698565
160,Afghanistan,Huile de Soja,vegetale,NaN,NaN,13.0,0.53,1.46,NaN,16.0,...,NaN,NaN,NaN,2017,36296.113,1.722251e+08,1.600000e+07,NaN,1.923694e+04,8952.830189
166,Afghanistan,Huile de Sésame,vegetale,NaN,NaN,1.0,0.05,0.13,NaN,1.0,...,NaN,NaN,NaN,2017,36296.113,1.324808e+07,1.000000e+06,NaN,1.814806e+03,7300.000000

In [ ]:
filt_bilan_alimentaire1 =filt_bilan_alimentaire['Disponibilité alimentaire (Kcal/an)'].sum()
filt_bilan_alimentaire1

7631922367877.385

#la disponibilité alimentaire (Kcla/an) mondiale est de 7631922367877.385

In [ ]:
dispo_alimentaire=pd.read_csv('dispo_alimentaire.csv')

In [ ]:
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
total=dispo_alimentaire['Disponibilité intérieure'].sum()
total

9848994.0

In [ ]:
perte= (dispo_alimentaire['Pertes'].sum()/total)*100
perte

4.606541541196999

In [ ]:
aliment= (dispo_alimentaire['Aliments pour animaux'].sum()/total)*100
aliment

13.242418464261426

In [ ]:
nourriture=(dispo_alimentaire['Nourriture'].sum()/total)*100
nourriture

49.51021393657058

In [ ]:
dispo_humain = round ((filt_bilan_alimentaire1 / 912500),2)
dispo_humain

8363750.54

**La disponibilité alimentaire pourrait nourrir 8 milliards d'habitants**

In [ ]:
pourcentage_humain_nourris_dispoalim_cal = round((dispo_humain*1000 / population_mondiale * 100),2)
pourcentage_humain_nourris_dispoalim_cal

111.66

**La part d'humain que l'on peut nourrir avec la disponibilité alimentaire est de 111% de la population**

#**Question : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ?**

In [ ]:
tab_vegetal=filt_bilan_alimentaire
tab_vegetal = tab_vegetal[tab_vegetal['Origine'] == 'vegetale']
tab_vegetal.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Semences,Traitement,Variation de stock,Année,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg)
10,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,...,NaN,NaN,NaN,2017,36296.113,1.324808e+07,4.100000e+07,264.961625,4.682199e+04,282.945736
16,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,...,NaN,NaN,NaN,2017,36296.113,1.324808e+07,2.000000e+06,397.442437,2.177767e+03,6083.333333
28,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,...,NaN,NaN,NaN,2017,36296.113,5.299232e+07,8.200000e+07,662.404062,9.799951e+04,540.740741
40,Afghanistan,Bière,vegetale,NaN,NaN,0.0,0.09,NaN,0.00,3.0,...,NaN,NaN,NaN,2017,36296.113,0.000000e+00,3.000000e+06,0.000000,3.266650e+03,0.000000
46,Afghanistan,Blé,vegetale,NaN,NaN,1369.0,160.23,4.69,36.91,5992.0,...,322.0,NaN,-350.0,2017,36296.113,1.813662e+10,5.992000e+09,488986.678753,5.815726e+06,3118.548337

In [ ]:
tab_vegetal.groupby('Produit').sum().reset_index()[['Produit','Disponibilité alimentaire (Kcal/an)']]

                   Produit  Disponibilité alimentaire (Kcal/an)
0          Agrumes, Autres                         2.639647e+09
1    Aliments pour enfants                         2.542592e+09
2                   Ananas                         7.331545e+09
3   Arachides Decortiquees                         6.751420e+10
4                   Avoine                         6.622216e+09
..                     ...                                  ...
67                  Sésame                         8.981478e+09
68                     Thé                         2.211801e+09
69                 Tomates                         2.792788e+10
70                     Vin                         1.524209e+10
71          Épices, Autres                         1.770676e+10

[72 rows x 2 columns]

In [ ]:
dispo_veg_mondial= tab_vegetal['Disponibilité alimentaire (Kcal/an)'].sum()
dispo_veg_mondial
print ('la disponibilité mondiale de l\'ensemble des végétaux est de','{:,}'.format(int(dispo_veg_mondial)).replace(',', ' '),
      'Kcal.')

la disponibilité mondiale de l'ensemble des végétaux est de 6 296 671 916 099 Kcal.

In [ ]:
dispo_veg_mondial2=  (dispo_veg_mondial *1000 /912500)
dispo_veg_mondial2

6900462373.807601

In [ ]:
pourcentage_humain_nourris_dispoalim_cal2 = round((dispo_veg_mondial2 / population_mondiale * 100),2)
pourcentage_humain_nourris_dispoalim_cal2

92.12

**Avec la disponibilité des végétaux mondiaux on peut nourrir 92,12% de la population mondiale**

L’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale de celle qui est perdue, de celle qui est concrètement utilisée pour l'alimentation humaine.

In [ ]:
tab_vegetal = tab_vegetal.groupby(by = 'Produit').sum().reset_index()
tab_vegetal

,Produit,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,...,Semences,Traitement,Variation de stock,Année,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg)
0,"Agrumes, Autres",0.0,25.0,128.0,208.45,0.78,2.19,12213.0,760.0,1172.0,...,0.0,72.0,46.0,272295,6114633.707,2.639647e+09,1.221300e+10,5.541025e+04,1.204915e+07,10278.501930
1,Aliments pour enfants,0.0,0.0,629.0,62.86,4.88,26.20,658.0,105.0,769.0,...,0.0,0.0,6.0,274312,4215236.503,2.542592e+09,6.580000e+08,1.077360e+05,7.024347e+05,413571.135267
2,Ananas,0.0,3.0,653.0,648.78,1.88,4.66,23043.0,7659.0,6074.0,...,0.0,8.0,349.0,328771,7089700.815,7.331545e+09,2.304300e+10,5.688905e+04,2.160942e+07,54823.895743
3,Arachides Decortiquees,1.0,1265.0,3626.0,239.29,301.37,158.33,29456.0,2704.0,2324.0,...,1291.0,13514.0,-1966.0,332805,7148217.102,6.751420e+10,2.945600e+10,2.915584e+06,1.271739e+07,901416.525942
4,Avoine,15849.0,199.0,828.0,142.46,14.34,33.65,22513.0,3334.0,3550.0,...,2452.0,36.0,-401.0,264227,6100439.610,6.622216e+09,2.251300e+10,2.943668e+05,3.564745e+06,234755.552458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Sésame,0.0,19.0,734.0,46.68,64.33,22.80,3853.0,1223.0,1275.0,...,71.0,2194.0,-152.0,217836,5903934.543,8.981478e+09,3.853000e+09,2.653968e+05,1.531510e+06,538891.603611
68,Thé,0.0,26.0,121.0,125.89,0.00,33.20,5812.0,2343.0,1956.0,...,0.0,0.0,86.0,340873,7244149.385,2.211801e+09,5.812000e+09,6.024548e+05,6.103412e+06,31871.054912
69,Tomates,1870.0,77.0,1615.0,3081.08,18.34,77.11,157928.0,21956.0,17114.0,...,0.0,0.0,531.0,336839,7085651.758,2.792788e+10,1.579280e+11,1.436091e+06,1.494529e+08,31633.307445
70,Vin,0.0,1564.0,1970.0,1031.89,0.00,0.01,25945.0,10408.0,8757.0,...,0.0,2402.0,-1609.0,318686,5054340.433,1.524209e+10,2.594500e+10,2.160471e+00,2.205701e+07,90303.474425
71,"Épices, Autres",0.0,185.0,1006.0,106.16,37.39,31.06,5323.0,1643.0,1505.0,...,0.0,0.0,-11.0,326754,7183983.372,1.770676e+10,5.323000e+09,5.791554e+05,5.379483e+06,502099.774505

#**Question  : En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion est destinée à l'alimentation animale ?**

In [ ]:
cereales = pd.read_csv ('cereales.csv')
cereales.head()

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5521,Aliments pour animaux,2511,Blé,2017,2017,Milliers de tonnes,221,Im,Données de la FAO basées sur une méthodologie ...
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5142,Nourriture,2511,Blé,2017,2017,Milliers de tonnes,5944,Im,Données de la FAO basées sur une méthodologie ...
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5521,Aliments pour animaux,2807,Riz (Eq Blanchi),2017,2017,Milliers de tonnes,4,Im,Données de la FAO basées sur une méthodologie ...
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5142,Nourriture,2807,Riz (Eq Blanchi),2017,2017,Milliers de tonnes,700,Im,Données de la FAO basées sur une méthodologie ...
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5521,Aliments pour animaux,2513,Orge,2017,2017,Milliers de tonnes,67,Im,Données de la FAO basées sur une méthodologie ...

In [ ]:

 liste_cereales = ["Blé et produits", "Riz et produits", "Orge et produits", "Maïs et produits", "Seigle et produits",
                  "Avoine", "Millet et produits", "Sorgho et produits", "Céréales, Autres"]

In [ ]:
filt_bilan_alimentaire['cereal'] = bilan_alimentaire['Produit'].isin(liste_cereales)
filt_bilan_alimentaire.sample(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Traitement,Variation de stock,Année,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg),cereal
54508,Mexique,"Fruits, Autres",vegetale,NaN,NaN,32.0,31.47,0.70,0.46,4414.0,...,NaN,0.0,2017,124777.324,1.457399e+09,4.414000e+09,20950.112700,3.926742e+06,371.147124,False
4432,Argentine,Huile de Germe de Maïs,vegetale,NaN,NaN,15.0,0.61,1.68,NaN,25.0,...,NaN,NaN,2017,43937.140,2.405558e+08,2.500000e+07,NaN,2.680166e+04,8975.409836,False
33244,Guatemala,Pamplemousse,vegetale,NaN,NaN,0.0,0.04,NaN,0.00,1.0,...,NaN,NaN,2017,16914.970,0.000000e+00,1.000000e+06,0.000000,6.765988e+02,0.000000,False
42478,Japon,Noix,vegetale,NaN,NaN,12.0,1.88,1.05,0.34,242.0,...,NaN,NaN,2017,127502.725,5.584619e+08,2.420000e+08,15823.088173,2.397051e+05,2329.787234,False
19828,"Chine, continentale",Huil Plantes Oleif Autr,vegetale,NaN,915.0,2.0,0.08,0.21,0.00,1027.0,...,NaN,0.0,2017,1421021.791,1.037346e+09,1.027000e+09,0.000000,1.136817e+05,9125.000000,False
37438,Inde,Maïs,vegetale,6990.0,45.0,52.0,6.29,0.64,1.29,18188.0,...,0.0,0.0,2017,1338676.785,2.540809e+10,1.818800e+10,630315.964217,8.420277e+06,3017.488076,False
87598,Yémen,Avoine,vegetale,0.0,NaN,0.0,0.05,0.00,0.01,2.0,...,NaN,NaN,2017,27834.819,0.000000e+00,2.000000e+06,101.597089,1.391741e+03,0.000000,True
26860,Estonie,Bananes,vegetale,NaN,NaN,13.0,7.76,0.06,0.15,10.0,...,NaN,NaN,2017,1319.390,6.260506e+06,1.000000e+07,72.236603,1.023847e+04,611.469072,False
5350,Australie,Bananes,vegetale,NaN,NaN,25.0,14.85,0.12,0.29,353.0,...,0.0,0.0,2017,24584.620,2.243347e+08,3.530000e+08,2602.282027,3.650816e+05,614.478114,False
1366,Albanie,Pommes,vegetale,NaN,NaN,33.0,24.60,0.27,0.20,82.0,...,NaN,NaN,2017,2884.169,3.473982e+07,8.200000e+07,210.544337,7.095056e+04,489.634146,False

##utilisation des céréales

In [ ]:
part_cereales_animales = filt_bilan_alimentaire[filt_bilan_alimentaire['cereal'] == True]['Aliments pour animaux'].sum() 
part_nourriture_humaine = filt_bilan_alimentaire[filt_bilan_alimentaire['cereal'] == True]['Nourriture'].sum()
part_dispo = filt_bilan_alimentaire[filt_bilan_alimentaire['cereal'] == True]['Disponibilité intérieure'].sum()

In [ ]:
part_dispo

49481.0

In [ ]:
part_cereales_animales

34316.0

In [ ]:
part_nourriture_humaine

8767.0

In [ ]:
total_part_cereale = part_cereales_animales + part_nourriture_humaine
total_part_cereale

43083.0

In [ ]:
total_dispo_interieur= filt_bilan_alimentaire['Disponibilité intérieure'].sum()
total_dispo_interieur

8763134.0

In [ ]:
Tx_nourriture1 = (part_nourriture_humaine/part_dispo )*100
Tx_nourriture1

17.717911925789696

**Il est constaté que 17,7% de la disponibilité intérieure est à usage de la nourriture**

In [ ]:
Tx_animal =  (part_cereales_animales / part_dispo)*100 
Tx_animal

69.35187243588447

**il est constaté que 69,35% de la disponibilité intérieure est à usage animale**

##Production + Importations - Exportations + Variation de stock = Disponibilité intérieure = Semences + Pertes + Nourriture + Aliments pour animaux + Traitement + Autres utilisations

#**Question : En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition ?**

In [ ]:
thai_manioc = filt_bilan_alimentaire[(filt_bilan_alimentaire['Zone'] == 'Thaïlande') & (filt_bilan_alimentaire['Produit'] == 'Manioc')]
thai_manioc = thai_manioc[['Zone', 'Produit', 'Exportations - Quantité','Disponibilité intérieure','Valeur','Production']]
thai_manioc

,Zone,Produit,Exportations - Quantité,Disponibilité intérieure,Valeur,Production
81724,Thaïlande,Manioc,25214.0,6264.0,69209.81,30228.0

In [ ]:
thailande_manioc_export = (thai_manioc['Exportations - Quantité'] 
                          / (thai_manioc['Production'] )
                          ) * 100
thailande_manioc_export

81724    83.41273
dtype: float64

**La quantité de manioc exporté est de l'ordre de 83,41%**

In [ ]:
tx_sous_nutris_thailande = (float(sousalimentation_annee[sousalimentation_annee['Zone'] == 'Thaïlande']['2016-2018'])
                            / float(thai_manioc['Valeur']/1000))*100
tx_sous_nutris_thailande

8.958267621309753

**La part de la population considérée comme sous alimenté est de 8,95%**

In [ ]:
filt_bilan_alimentaire=pd.merge(filt_bilan_alimentaire, sousalimentation_annee)
filt_bilan_alimentaire

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg),cereal,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018,2017-2019
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,...,10201.022559,62429.31436,1061.046512,False,8.6,8.8,8.9,9.7,10.5,11.1
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,...,264.961625,46821.98577,282.945736,False,8.6,8.8,8.9,9.7,10.5,11.1
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,...,397.442437,2177.76678,6083.333333,False,8.6,8.8,8.9,9.7,10.5,11.1
3,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,...,662.404062,97999.50510,540.740741,False,8.6,8.8,8.9,9.7,10.5,11.1
4,Afghanistan,"Beurre, Ghee",animale,NaN,NaN,23.0,1.17,2.61,0.03,36.0,...,397.442437,42466.45221,7175.213675,False,8.6,8.8,8.9,9.7,10.5,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10239,Éthiopie,Viande de Suides,animale,NaN,NaN,0.0,0.02,0.02,0.01,2.0,...,388.359723,2127.99848,0.000000,False,26.2,24.3,21.7,21.3,21.1,21.5
10240,Éthiopie,Viande de Volailles,animale,NaN,NaN,2.0,0.66,0.14,0.22,62.0,...,8543.913897,70223.94984,1106.060606,False,26.2,24.3,21.7,21.3,21.1,21.5
10241,Éthiopie,"Viande, Autre",animale,NaN,NaN,4.0,1.20,0.18,0.55,113.0,...,21359.784743,127679.90880,1216.666667,False,26.2,24.3,21.7,21.3,21.1,21.5
10242,Éthiopie,Vin,vegetale,NaN,NaN,0.0,0.02,NaN,NaN,2.0,...,NaN,2127.99848,0.000000,False,26.2,24.3,21.7,21.3,21.1,21.5
10243,Éthiopie,"Épices, Autres",vegetale,NaN,NaN,3.0,0.29,0.12,0.09,27.0,...,3495.237503,30855.97796,3775.862069,False,26.2,24.3,21.7,21.3,21.1,21.5

In [ ]:
filt_bilan_alimentaire['ratio']= (filt_bilan_alimentaire['2016-2018']/(filt_bilan_alimentaire['Valeur']/1000))*100
filt_bilan_alimentaire

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg),cereal,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018,2017-2019,ratio
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,...,62429.31436,1061.046512,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,...,46821.98577,282.945736,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,...,2177.76678,6083.333333,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718
3,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,...,97999.50510,540.740741,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718
4,Afghanistan,"Beurre, Ghee",animale,NaN,NaN,23.0,1.17,2.61,0.03,36.0,...,42466.45221,7175.213675,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10239,Éthiopie,Viande de Suides,animale,NaN,NaN,0.0,0.02,0.02,0.01,2.0,...,2127.99848,0.000000,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841
10240,Éthiopie,Viande de Volailles,animale,NaN,NaN,2.0,0.66,0.14,0.22,62.0,...,70223.94984,1106.060606,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841
10241,Éthiopie,"Viande, Autre",animale,NaN,NaN,4.0,1.20,0.18,0.55,113.0,...,127679.90880,1216.666667,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841
10242,Éthiopie,Vin,vegetale,NaN,NaN,0.0,0.02,NaN,NaN,2.0,...,2127.99848,0.000000,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841
10243,Éthiopie,"Épices, Autres",vegetale,NaN,NaN,3.0,0.29,0.12,0.09,27.0,...,30855.97796,3775.862069,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841

In [ ]:
filt_bilan_alimentaire1=filt_bilan_alimentaire.groupby('Zone').sum()
filt_bilan_alimentaire1

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,...,Année,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg),cereal,2016-2018,ratio
Zone,,,,,,,,,,,,,,,,,,,,,
Afghanistan,687.0,415.0,2086.0,351.41,33.48,58.24,13377.0,278.0,2988.0,10735.0,...,90765,1.633325e+06,2.763550e+10,1.337700e+10,7.715683e+05,1.275482e+07,142270.279423,0,472.5,1301.792288
Afrique du Sud,5308.0,726.0,3020.0,564.80,83.58,85.33,40286.0,11466.0,7317.0,29812.0,...,153292,4.332741e+06,6.284185e+10,4.028600e+10,1.775595e+06,3.219911e+07,203163.185064,2,235.6,413.262600
Albanie,659.0,168.0,3183.0,1095.54,106.42,111.24,4709.0,94.0,927.0,3476.0,...,133122,1.903552e+05,3.350813e+09,4.709000e+09,1.171048e+05,3.159723e+06,146716.002883,2,6.6,228.835412
Algérie,4350.0,1701.0,3291.0,809.13,76.45,91.86,42569.0,655.0,17389.0,31728.0,...,135139,2.773076e+06,4.971731e+10,4.256900e+10,1.387734e+06,3.348923e+07,187840.848289,2,87.1,210.441427
Allemagne,29931.0,6314.0,3499.0,957.52,141.62,101.38,128900.0,56923.0,58318.0,79215.0,...,149258,6.116722e+06,1.055659e+11,1.289000e+11,3.058667e+06,7.914708e+07,206667.653543,2,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Égypte,14880.0,1552.0,3513.0,803.79,63.06,103.18,104094.0,4956.0,23305.0,65956.0,...,149258,7.136752e+06,1.236630e+11,1.040940e+11,3.632095e+06,7.751959e+07,186652.065186,1,340.4,352.956092
Émirats arabes unis,626.0,2215.0,3267.0,700.24,87.06,104.32,10231.0,4219.0,13722.0,6546.0,...,137156,6.451298e+05,1.131306e+10,1.023100e+10,3.612423e+05,6.643319e+06,172908.993869,0,20.4,215.026494
Équateur,1057.0,1126.0,2343.0,544.91,94.62,61.25,11165.0,7943.0,1635.0,8573.0,...,141190,1.174975e+06,1.435476e+10,1.116500e+10,3.752577e+05,9.146511e+06,167154.814189,2,105.0,625.545081
États-Unis d'Amérique,146238.0,152853.0,3679.0,1002.39,161.37,109.42,712731.0,160470.0,77404.0,320818.0,...,163377,2.633187e+07,4.365352e+11,7.127310e+11,1.298333e+07,3.258617e+08,201177.828953,2,0.0,0.000000
Éthiopie,685.0,3641.0,2129.0,354.55,25.88,60.39,41160.0,937.0,1711.0,33359.0,...,131105,6.915995e+06,8.268178e+10,4.116000e+10,2.345304e+06,3.772409e+07,145265.017452,2,1371.5,1289.004680

In [ ]:
filt_bilan_alimentaire1.sort_values("ratio",axis=0,ascending =True, inplace = True)
filt_bilan_alimentaire1.head(10)

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,...,Année,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg),cereal,2016-2018,ratio
Zone,,,,,,,,,,,,,,,,,,,,,
Tadjikistan,2588.0,121.0,2199.0,520.41,60.37,63.38,7325.0,244.0,1432.0,4271.0,...,96816,4.262529e+05,7.127614e+09,7.325000e+09,2.054335e+05,4.621380e+06,119979.674575,1,0.0,0.0
Kazakhstan,6938.0,1556.0,3254.0,994.14,134.37,96.16,30293.0,8208.0,4431.0,16348.0,...,141190,1.265601e+06,2.147382e+10,3.029300e+10,6.345797e+05,1.797407e+07,155649.638906,2,0.0,0.0
Japon,15591.0,2192.0,2721.0,602.30,86.43,87.53,103891.0,1270.0,50441.0,76568.0,...,165394,1.045522e+07,1.266312e+11,1.038910e+11,4.073514e+06,7.679489e+07,225967.654388,2,0.0,0.0
Italie,15624.0,2874.0,3577.0,993.20,154.69,108.48,93430.0,23581.0,37816.0,60580.0,...,157326,4.732549e+06,7.921589e+10,9.343000e+10,2.402387e+06,6.026112e+07,198337.211076,2,0.0,0.0
Israël,2434.0,772.0,3608.0,922.14,151.39,128.00,11067.0,1640.0,5727.0,7130.0,...,153292,6.265324e+05,1.085649e+10,1.106700e+10,3.851526e+05,7.601982e+06,206112.993531,2,0.0,0.0
Islande,65.0,20.0,3356.0,923.29,151.04,132.33,403.0,1380.0,200.0,301.0,...,141190,2.340751e+04,4.096114e+08,4.030000e+08,1.615133e+04,3.087417e+05,194049.577826,1,0.0,0.0
Irlande,3750.0,963.0,3600.0,1150.15,125.69,109.91,10636.0,6674.0,6080.0,5319.0,...,153292,3.612492e+05,6.245809e+09,1.063600e+10,1.906880e+05,5.466984e+06,193634.940719,2,0.0,0.0
Zambie,408.0,63.0,1923.0,350.12,42.04,55.20,5968.0,614.0,353.0,5088.0,...,133122,1.112338e+06,1.182946e+10,5.968000e+09,3.395663e+05,5.900782e+06,119713.953425,1,0.0,0.0
Tunisie,1303.0,157.0,3347.0,840.13,91.44,98.45,13171.0,983.0,3912.0,9238.0,...,139173,7.889076e+05,1.396772e+10,1.317100e+10,4.108522e+05,9.605578e+06,201100.421452,1,0.0,0.0
Hongrie,4585.0,144.0,3032.0,720.36,137.46,78.75,14274.0,9535.0,3180.0,7175.0,...,147241,7.102771e+05,1.076780e+10,1.427400e+10,2.796716e+05,7.008975e+06,175071.042787,2,0.0,0.0

**L'ordre Décroissant des pays ayant le plus fort ratio quant à la sous nutrition et la population**

In [ ]:
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [ ]:
aide_alimentaire1=aide_alimentaire
aide_alimentaire1=aide_alimentaire1.groupby( 'Pays bénéficiaire').sum().reset_index()[['Pays bénéficiaire','Valeur']]
aide_alimentaire1

   Pays bénéficiaire   Valeur
0        Afghanistan   185452
1            Algérie    81114
2             Angola     5014
3         Bangladesh   348188
4            Bhoutan     2666
..               ...      ...
71            Zambie     3026
72          Zimbabwe    62570
73            Égypte     1122
74          Équateur     1362
75          Éthiopie  1381294

[76 rows x 2 columns]

In [ ]:
aide_alimentaire1.sort_values(by="Valeur",ascending=False,inplace=True)

In [ ]:
aide_alimentaire1.head(10)

                   Pays bénéficiaire   Valeur
50         République arabe syrienne  1858943
75                          Éthiopie  1381294
70                             Yémen  1206484
61                     Soudan du Sud   695248
60                            Soudan   669784
30                             Kenya   552836
3                         Bangladesh   348188
59                           Somalie   292678
53  République démocratique du Congo   288502
43                             Niger   276344

In [ ]:
aide_alimentaire1.sort_values("Valeur",axis=0,ascending =False, inplace = True)

In [ ]:
aide_alimentaire1.head(10)

                   Pays bénéficiaire   Valeur
50         République arabe syrienne  1858943
75                          Éthiopie  1381294
70                             Yémen  1206484
61                     Soudan du Sud   695248
60                            Soudan   669784
30                             Kenya   552836
3                         Bangladesh   348188
59                           Somalie   292678
53  République démocratique du Congo   288502
43                             Niger   276344

**Liste des pays ayant eu le plus d'aide alimentaire depuis 2013**

In [ ]:
filt_bilan_alimentaire['ratio disponibilité']= (filt_bilan_alimentaire['Disponibilité alimentaire (Kcal/an)']
                                                /(filt_bilan_alimentaire['Valeur']/1000)*100)
filt_bilan_alimentaire

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,...,Ratio énergie/poids (Kcal/Kg),cereal,2012-2014,2013-2015,2014-2016,2015-2017,2016-2018,2017-2019,ratio,ratio disponibilité
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,...,1061.046512,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718,182500000.0
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,...,282.945736,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718,36500000.0
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,...,6083.333333,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718,36500000.0
3,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,...,540.740741,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718,146000000.0
4,Afghanistan,"Beurre, Ghee",animale,NaN,NaN,23.0,1.17,2.61,0.03,36.0,...,7175.213675,False,8.6,8.8,8.9,9.7,10.5,11.1,28.928718,839500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10239,Éthiopie,Viande de Suides,animale,NaN,NaN,0.0,0.02,0.02,0.01,2.0,...,0.000000,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841,0.0
10240,Éthiopie,Viande de Volailles,animale,NaN,NaN,2.0,0.66,0.14,0.22,62.0,...,1106.060606,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841,73000000.0
10241,Éthiopie,"Viande, Autre",animale,NaN,NaN,4.0,1.20,0.18,0.55,113.0,...,1216.666667,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841,146000000.0
10242,Éthiopie,Vin,vegetale,NaN,NaN,0.0,0.02,NaN,NaN,2.0,...,0.000000,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841,0.0
10243,Éthiopie,"Épices, Autres",vegetale,NaN,NaN,3.0,0.29,0.12,0.09,27.0,...,3775.862069,False,26.2,24.3,21.7,21.3,21.1,21.5,19.830841,109500000.0

In [ ]:
filt_bilan_alimentaire2=filt_bilan_alimentaire.groupby('Zone').sum()
filt_bilan_alimentaire2

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,...,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg),cereal,2016-2018,ratio,ratio disponibilité
Zone,,,,,,,,,,,,,,,,,,,,,
Afghanistan,687.0,415.0,2086.0,351.41,33.48,58.24,13377.0,278.0,2988.0,10735.0,...,1.633325e+06,2.763550e+10,1.337700e+10,7.715683e+05,1.275482e+07,142270.279423,0,472.5,1301.792288,7.613900e+10
Afrique du Sud,5308.0,726.0,3020.0,564.80,83.58,85.33,40286.0,11466.0,7317.0,29812.0,...,4.332741e+06,6.284185e+10,4.028600e+10,1.775595e+06,3.219911e+07,203163.185064,2,235.6,413.262600,1.102300e+11
Albanie,659.0,168.0,3183.0,1095.54,106.42,111.24,4709.0,94.0,927.0,3476.0,...,1.903552e+05,3.350813e+09,4.709000e+09,1.171048e+05,3.159723e+06,146716.002883,2,6.6,228.835412,1.161795e+11
Algérie,4350.0,1701.0,3291.0,809.13,76.45,91.86,42569.0,655.0,17389.0,31728.0,...,2.773076e+06,4.971731e+10,4.256900e+10,1.387734e+06,3.348923e+07,187840.848289,2,87.1,210.441427,1.201215e+11
Allemagne,29931.0,6314.0,3499.0,957.52,141.62,101.38,128900.0,56923.0,58318.0,79215.0,...,6.116722e+06,1.055659e+11,1.289000e+11,3.058667e+06,7.914708e+07,206667.653543,2,0.0,0.000000,1.277135e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Égypte,14880.0,1552.0,3513.0,803.79,63.06,103.18,104094.0,4956.0,23305.0,65956.0,...,7.136752e+06,1.236630e+11,1.040940e+11,3.632095e+06,7.751959e+07,186652.065186,1,340.4,352.956092,1.282245e+11
Émirats arabes unis,626.0,2215.0,3267.0,700.24,87.06,104.32,10231.0,4219.0,13722.0,6546.0,...,6.451298e+05,1.131306e+10,1.023100e+10,3.612423e+05,6.643319e+06,172908.993869,0,20.4,215.026494,1.192455e+11
Équateur,1057.0,1126.0,2343.0,544.91,94.62,61.25,11165.0,7943.0,1635.0,8573.0,...,1.174975e+06,1.435476e+10,1.116500e+10,3.752577e+05,9.146511e+06,167154.814189,2,105.0,625.545081,8.551950e+10
États-Unis d'Amérique,146238.0,152853.0,3679.0,1002.39,161.37,109.42,712731.0,160470.0,77404.0,320818.0,...,2.633187e+07,4.365352e+11,7.127310e+11,1.298333e+07,3.258617e+08,201177.828953,2,0.0,0.000000,1.342835e+11
Éthiopie,685.0,3641.0,2129.0,354.55,25.88,60.39,41160.0,937.0,1711.0,33359.0,...,6.915995e+06,8.268178e+10,4.116000e+10,2.345304e+06,3.772409e+07,145265.017452,2,1371.5,1289.004680,7.770850e+10

In [ ]:
filt_bilan_alimentaire2.sort_values("ratio disponibilité",axis=0, ascending=True, inplace=True)

#Liste des pays ayant la plus faible disponibilité par habitants

In [ ]:
filt_bilan_alimentaire2

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,...,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg),cereal,2016-2018,ratio,ratio disponibilité
Zone,,,,,,,,,,,,,,,,,,,,,
République centrafricaine,1.0,19.0,1878.0,453.73,59.40,46.03,2344.0,0.0,73.0,2092.0,...,2.343972e+05,3.150436e+09,2.344000e+09,7.721755e+04,2.085354e+06,117899.554414,0,0.0,0.000000,6.854700e+10
Zambie,408.0,63.0,1923.0,350.12,42.04,55.20,5968.0,614.0,353.0,5088.0,...,1.112338e+06,1.182946e+10,5.968000e+09,3.395663e+05,5.900782e+06,119713.953425,1,0.0,0.000000,7.018950e+10
Madagascar,842.0,2509.0,2056.0,425.07,24.48,46.68,15173.0,234.0,898.0,9741.0,...,1.738795e+06,1.918914e+10,1.517300e+10,4.356755e+05,1.086926e+07,161851.975237,1,714.0,2792.278856,7.504400e+10
Afghanistan,687.0,415.0,2086.0,351.41,33.48,58.24,13377.0,278.0,2988.0,10735.0,...,1.633325e+06,2.763550e+10,1.337700e+10,7.715683e+05,1.275482e+07,142270.279423,0,472.5,1301.792288,7.613900e+10
Haïti,481.0,110.0,2089.0,397.78,48.91,47.69,6168.0,14.0,1199.0,4101.0,...,7.138538e+05,8.373889e+09,6.168000e+09,1.911684e+05,4.368566e+06,126062.632018,1,344.5,3136.846832,7.624850e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Israël,2434.0,772.0,3608.0,922.14,151.39,128.00,11067.0,1640.0,5727.0,7130.0,...,6.265324e+05,1.085649e+10,1.106700e+10,3.851526e+05,7.601982e+06,206112.993531,2,0.0,0.000000,1.316920e+11
États-Unis d'Amérique,146238.0,152853.0,3679.0,1002.39,161.37,109.42,712731.0,160470.0,77404.0,320818.0,...,2.633187e+07,4.365352e+11,7.127310e+11,1.298333e+07,3.258617e+08,201177.828953,2,0.0,0.000000,1.342835e+11
Turquie,11467.0,2775.0,3708.0,968.15,119.64,108.12,102683.0,14506.0,10814.0,72550.0,...,5.759268e+06,1.097846e+11,1.026830e+11,3.201163e+06,7.853289e+07,181829.779613,2,0.0,0.000000,1.353420e+11
Belgique,5117.0,2979.0,3732.0,1002.09,161.95,99.37,21925.0,28852.0,32277.0,11129.0,...,8.450614e+05,1.555575e+10,2.192500e+10,4.141948e+05,1.144362e+07,208932.205994,2,0.0,0.000000,1.362180e+11
Autriche,3400.0,992.0,3767.0,1069.20,170.40,106.10,15530.0,6474.0,8169.0,9085.0,...,6.879523e+05,1.212697e+10,1.553000e+10,3.415639e+05,9.430238e+06,203670.678678,2,0.0,0.000000,1.374955e+11

In [ ]:
filt_bilan_alimentaire2.sort_values("ratio disponibilité",axis=0, ascending=False, inplace=True)

#Liste des pays ayant la plus grande disponibilté par habitants

In [ ]:
filt_bilan_alimentaire2

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,...,Valeur,Disponibilité alimentaire (Kcal/an),Disponibilité intérieur (KG),Disponibilité de protéines en quantité (Kg/an),Disponibilité alimentaire en quantité (Kg/an),Ratio énergie/poids (Kcal/Kg),cereal,2016-2018,ratio,ratio disponibilité
Zone,,,,,,,,,,,,,,,,,,,,,
Autriche,3400.0,992.0,3767.0,1069.20,170.40,106.10,15530.0,6474.0,8169.0,9085.0,...,6.879523e+05,1.212697e+10,1.553000e+10,3.415639e+05,9.430238e+06,203670.678678,2,0.0,0.000000,1.374955e+11
Belgique,5117.0,2979.0,3732.0,1002.09,161.95,99.37,21925.0,28852.0,32277.0,11129.0,...,8.450614e+05,1.555575e+10,2.192500e+10,4.141948e+05,1.144362e+07,208932.205994,2,0.0,0.000000,1.362180e+11
Turquie,11467.0,2775.0,3708.0,968.15,119.64,108.12,102683.0,14506.0,10814.0,72550.0,...,5.759268e+06,1.097846e+11,1.026830e+11,3.201163e+06,7.853289e+07,181829.779613,2,0.0,0.000000,1.353420e+11
États-Unis d'Amérique,146238.0,152853.0,3679.0,1002.39,161.37,109.42,712731.0,160470.0,77404.0,320818.0,...,2.633187e+07,4.365352e+11,7.127310e+11,1.298333e+07,3.258617e+08,201177.828953,2,0.0,0.000000,1.342835e+11
Israël,2434.0,772.0,3608.0,922.14,151.39,128.00,11067.0,1640.0,5727.0,7130.0,...,6.265324e+05,1.085649e+10,1.106700e+10,3.851526e+05,7.601982e+06,206112.993531,2,0.0,0.000000,1.316920e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Haïti,481.0,110.0,2089.0,397.78,48.91,47.69,6168.0,14.0,1199.0,4101.0,...,7.138538e+05,8.373889e+09,6.168000e+09,1.911684e+05,4.368566e+06,126062.632018,1,344.5,3136.846832,7.624850e+10
Afghanistan,687.0,415.0,2086.0,351.41,33.48,58.24,13377.0,278.0,2988.0,10735.0,...,1.633325e+06,2.763550e+10,1.337700e+10,7.715683e+05,1.275482e+07,142270.279423,0,472.5,1301.792288,7.613900e+10
Madagascar,842.0,2509.0,2056.0,425.07,24.48,46.68,15173.0,234.0,898.0,9741.0,...,1.738795e+06,1.918914e+10,1.517300e+10,4.356755e+05,1.086926e+07,161851.975237,1,714.0,2792.278856,7.504400e+10
Zambie,408.0,63.0,1923.0,350.12,42.04,55.20,5968.0,614.0,353.0,5088.0,...,1.112338e+06,1.182946e+10,5.968000e+09,3.395663e+05,5.900782e+06,119713.953425,1,0.0,0.000000,7.018950e+10
République centrafricaine,1.0,19.0,1878.0,453.73,59.40,46.03,2344.0,0.0,73.0,2092.0,...,2.343972e+05,3.150436e+09,2.344000e+09,7.721755e+04,2.085354e+06,117899.554414,0,0.0,0.000000,6.854700e+10